@charset "utf-8";
form{
	text-align: center;
	left: 20%;
	width: 60%;
	position: fixed;
	top: 15px;
	font-size: 17px;
	/*padding-left: 35%;
	padding-right: 35%;*/
	background: rgba(150,100,100,0.3);
	border-radius: 50px;
}
#jr {
	width: 70px;
	height: 35px;
	font-size: 20px;
}
#yy {
	text-align: center;
	padding-top: 30%;
	padding-bottom: 30%;
}
#p1 {
	font-size: 32px;
}
#p2 {
	font-size: 18px;
}
#zd{
	text-align: center;
	position: fixed;
	right: 0;
	bottom: 3%;
	width: 80px;
	height: 30px;
	border-radius: 30px;
	background: rgba(150,100,100,0.3);
	font-family: "楷体";
	font-size: 20px;
}
